<!DOCTYPE>
<html>
<head>
  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <nav>
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo smmrg">Term Project</a>
      <a href="#" data-target="mobile_links" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/page1/">Introduction</a></li>
        <li><a href="/page2/">Installation Guide</a></li>
        <li><a href="/page3/">Tutorial</a></li>
        <li><a href="/page4/">Example</a></li>
        <li><a href="/page5/">Conclusion</a></li>
        <li class="active"><a href="/page6/">Credits & References</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile_links">
    <li><a href="/page1/">Introduction</a></li>
    <li><a href="/page2/">Installation Guide</a></li>
    <li><a href="/page3/">Tutorial</a></li>
    <li><a href="/page4/">Example</a></li>
    <li><a href="/page5/">Conclusion</a></li>
    <li class="active"><a href="/page6/">Credits & References</a></li>
  </ul>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Modal.init(elems);
    });
  </script>
  <style>
    img { float: right; }
    .mrg {
      margin-right: 5%;
      margin-left: 5%;
    }
    .smmrg {
      margin-left: 1.5%;
    }
  </style>
  <title>Credits & References</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</head>
<body>

<div class="col s12 m7">
    <h1 class="header mrg">References</h1>
    <div class="card horizontal mrg">
      <div class="card-stacked">
        <div class="card-content">
          <a href="https://materializecss.com/">materializecss.com<br></a>
          <a href="https://www.djangoproject.com/">djangoproject.com<br></a>
          <a href="https://medium.com/swlh/why-python-django-are-your-top-choice-for-web-development-bff93e129448">
            medium.com/swlh/why-python-django-are-your-top-choice-for-web-development-bff93e129448<br>
          <a href="https://www.youtube.com/watch?v=F5mRW0jo-U4">
            youtube.com/watch?v=F5mRW0jo-U4<br></a>
          <a href="https://www.digitalocean.com/community/tutorials/how-to-use-the-django-one-click-install-image-for-ubuntu-14-04?mkt_tok=eyJpIjoiWmprelpUUmpNRFF3TlRneiIsInQiOiIrbVBhSXFnQkJqT2U3ZUo2N0VZOXVzelhcL1UrZERYV3M3WDk0bDlteTlRNlpGZUo4STV0XC9qeGtHeFhtT0JmMjREZGFmZFdFN0FobVBhUmh5U2l3Q1NLQzRpWlp3azFJQlRTcnNpcjBSbFZQWkxoSGdzU1d4VkV3RXBpN0sxUW8xIn0%3D&utm_campaign=Email_DjangoWelcome&utm_medium=Email_Internal&utm_source=Customerio">
            digitalocean.com<br></a>
          <a href="https://trends.builtwith.com/websitelist/Materialize-CSS">
            trends.builtwith.com/websitelist/Materialize-CSS<br></a>
          <a href="https://datafloq.com/read/advantages-and-disadvantages-of-using-django/3050">
            datafloq.com/read/advantages-and-disadvantages-of-using-django/<br></a>
        </div>
      </div>
    </div>
  </div>



<div class="col s12 m7">
    <h1 class="header mrg">Team Members</h1>
    <div class="card horizontal mrg">
      <div class="card-image">
        <img src="/static/images/maryamnada.jpg" alt="materialize" width="200" height="200">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">Maryam Nada</span>
          <p>Student number: #500897216<br> Maryam's responsibilities
            included pages 1, 5, and 6. Maryam did the research for those pages
            as well.</p>
        </div>
      </div>
    </div>
  </div>

<div class="col s12 m7">
    <div class="card horizontal mrg">
      <div class="card-image">
        <img src="/static/images/LauraMcGuire.jpg" alt="materialize" width="200" height="200">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">Laura McGuire</span>
          <p>Student number: #500809843<br> Laura had the
            responsibility of completing page 2. This was the short tutorial on
            how to install both of the frameworks our group chose. She also added
            some information to pages 1 and 5. Laura did the setup for our server
            and backend framework.</p>
        </div>
      </div>
    </div>
  </div>
<div class="col s12 m7">
    <div class="card horizontal mrg">
      <div class="card-image">
        <img src="/static/images/portrait.png" alt="materialize" width="200" height="200">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title">Garrett Liang</span>
          <p>Student number: #500911700<br> Garrett's
            responsibilities were to do pages 3 and 4. Garrett did the short
            tutorial for how to use both frameworks to make a simple page. The
            result of this tutorial can be found on page 4, under the "Example"
            tab. </p>
        </div>
      </div>
    </div>
  </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    const slide_menu = document.querySelectorAll(".sidenav");
    M.Sidenav.init(slide_menu, {});
  </script>
</body>
</html>
